<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Footer</title>
</head>
<body class="d-flex flex-column min-vh-100">
<div class="container flex-grow-1">
</div>

<footer class="text-center text-dark " style="background-color: #F8F9FA;">
    <div class="container ">
        <p class="navbar-brand fw-bold" th:href="@{/}">Copyright @ 2023 Game<span style="color: green">Spring </span>-
            All
            rights
            reserved</p>
    </div>
</footer>

</body>
</html>
