<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Footer</title>
</head>
<body>

<footer class="text-center text-dark" style="background-color: #F8F9FA;">
    <div class="container">
        <p class="my-0">&copy; 2023 <a class="text-dark fw-bold" style="text-decoration: none;"
                                       th:href="@{/}">fando<span
                class="text-primary font-weight-bold">games</span></a> All
            rights reserved.</p>
    </div>
</footer>

</body>
</html>
