<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Footer</title>
</head>
<body>

<footer class="text-center text-dark py-3"
        style="background-color: #F8F9FA; position: fixed; bottom: 0; left: 0; right: 0;">
    <div class="container-fluid" style="display: flex; justify-content: center; align-items: center;">
        <p>&copy; 2023 <a class="text-dark bold fw-bold" style="text-decoration: none;" th:href="@{/}">fando<span
                class="text-primary fw-bold">games</span></a> All
            rights reserved.</p>
    </div>
</footer>


</body>
</html>