<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" th:href="@{/}"><b>Game</b><span style="color: green">Spring</span></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" th:href="@{/}"> <i class="fa-solid fa-house"
                                                                                      style="color: green;"></i>
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}"> <i class="fa-solid fa-user px-1" style="color: green;"
                                                                th:href="@{/login}"></i> Accedi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/storage}" sec:authorize="hasAuthority('ADMIN')"><i
                            class="fa-solid fa-screwdriver-wrench px-1"
                            style="color: green;"></i> Area Riservata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}" sec:authorize="hasAuthority('USER')"><i
                            class="fa-solid fa-screwdriver-wrench px-1"
                            style="color: green;"></i>Profilo</a>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input aria-label="Search" class="form-control me-2" placeholder="Cerca" type="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

</body>
</html>
