<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Conferma acquisto')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<h1>Conferma Acquisto</h1>

<div>
    <h2>Dettagli del Videogioco</h2>
    <dl>
        <dt>Titolo:</dt>
        <dd th:text="${game.title}"></dd>

        <dt>Editor:</dt>
        <dd th:text="${game.editor}"></dd>

        <dt>Genere:</dt>
        <dd th:text="${game.genre}"></dd>

    </dl>
</div>

</body>
</html>
