<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Conferma acquisto')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container my-3">
    <h1>Grazie dell'Acquisto!</h1>
    <h3>Riepilogo ordine:</h3>
    <dl>
        <dt>Nome videogioco</dt>
        <dd th:text="${game.title}"></dd>
        <dt>Quantità</dt>
        <dd th:text="${purchase.quantity}"></dd>
        <dt>Descrizione videogioco</dt>
        <dd th:text="${game.description}"></dd>
        <dt>Prezzo Totale Acquisto</dt>
        <dd th:text="|${purchase.getTotalPrice()}€|"></dd>
        <dt>Data Acquisto</dt>
        <dd th:text="${purchase.dateTime}"></dd>
    </dl>

    <h3>Dati Acquirente:</h3>
    <dl>
        <dt>Nome:</dt>
        <dd th:text="${users.name}"></dd>
        <dt>Cognome</dt>
        <dd th:text="${users.lastName}"></dd>
        <dt>Data di nascita</dt>
        <dd th:text="${users.birthday}"></dd>
        <dt>Email</dt>
        <dd th:text="${users.email}"></dd>
    </dl>

    <a th:href="@{/}" class="btn btn-success">Continua ad acquistare!</a>

</div>

<footer th:replace="fragments/footer"></footer>

</body>
</html>
