<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('dettagli videogioco')">

<body class="bg-light">
<!-- Navbar fragment qui -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container mt-4 mt-lg-5 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center mb-5">Game Details</h1>
    <div class="row justify-content-center align-items-start">
        <!-- Image container -->
        <div class="col-lg-4">
            <img alt="game-img" class="img-fluid border border-secondary" th:src="${game.photo}">
        </div>
        <!-- Info container -->
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${game.title}"></h5>
                    <h5 class="card-title"></h5>
                    <p class="card-text" th:text="${game.editor}"></p>
                    <p class="card-text" th:text="${game.description}"></p>
                    <p class="card-text" th:text="|Price: €${game.price}|"></p>
                    <!-- Button per acquistare -->
                    <a class="btn btn-secondary" th:href="@{/}">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
