<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('dettagli videogioco')"></head>

<body class="bg-light">

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container bg-light">
    <h1 class="text-center my-5">Dettagli Videogioco</h1>
    <div class="row">
        <!-- Box dell'immagine -->
        <div class="col-md-6 d-flex">
            <div class="card w-100 h-100 bg-white border-black">
                <img alt="game-img" class="img-fluid h-100" th:src="${game.photo}">
            </div>
        </div>
        <!-- Box dei dettagli -->
        <div class="col-md-6 d-flex" style="height: 42px;">
            <div class="card w-100 border-black">
                <div class="card-body">
                    <h5 class="card-title" th:text="${game.title}"></h5>
                    <p class="card-text" th:text="${game.editor}"></p>
                    <p class="card-text" th:text="${game.genre}"></p>
                    <p class="card-text" th:text="${game.description}"></p>
                    <p class="card-text" th:text="${game.console}"></p>
                    <p class="card-text" th:text="|Prezzo: €${game.price}|"></p>
                    <div class="d-flex align-items-center">
                        <a class="btn btn-black border-black mx-2 " th:href="@{/}"><i
                                class="fa-solid fa-cart-shopping"></i></a>
                        <a class="btn btn-primary mx-2" th:href="@{/edit/{id} (id=${game.id})}"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <form method="post" th:action="@{/delete/{id}(id=${game.id})}">
                            <button class="btn btn-danger mx-2" type="submit"><i
                                    class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:replace="fragments/footer"></nav>


</body>
</html>
