<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('crea/modifica videogiochi')">
    <link rel="stylesheet" th:href="@{styles.css}"/>
</head>

<body>

<main>
    <nav th:replace="fragments/navbar :: navbar(area='area riservata')"></nav>
    <div class="container my-5 mt-lg-5 bg-light">

        <h1 class="mx-5 text-center"
            th:text="${game.id != null ? 'MODIFICA' : 'AGGIUNGI'}"></h1>


        <form class="row g-3"
              id="game-form"
              method="post"
              th:action="${game.id != null} ? @{/edit/{id}(id=${game.id})} : @{/create}"
              th:object="${game}"
        >

            <div class="col-md-4">
                <label class="form-label" for="image">URL</label>
                <input class="form-control" id="image" required th:errorClass="is-invalid" th:field="*{photo}"
                       type="text">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('photo')}">
                    <ul>

                        <li th:each="err : ${#fields.errors('photo')}" th:text="${err}">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <label class="form-label" for="title">Nome</label>
                <input class="form-control" id="title" required th:errorClass="is-invalid" th:field="*{title}"
                       type="text">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                    <ul>

                        <li th:each="err : ${#fields.errors('title')}" th:text="${err}">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="editor">Editore</label>
                <input class="form-control" id="editor" required th:errorClass="is-invalid" th:field="*{editor}"
                       type="text">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('editor')}">
                    <ul>

                        <li th:each="err : ${#fields.errors('editor')}" th:text="${err}">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="genre">Genere</label>
                <input class="form-control" id="genre" required th:errorClass="is-invalid" th:field="*{genre}"
                       type="text">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('genre')}">
                    <ul>

                        <li th:each="err : ${#fields.errors('genre')}" th:text="${err}">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label" for="description">Descrizione</label>
                <div class="form-floating">
          <textarea class="form-control" id="description" required style="height: 100px" th:errorClass="is-invalid"
                    th:field="*{description}">
          </textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('editor')}">
                        <ul>

                            <li th:each="err : ${#fields.errors('editor')}" th:text="${err}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label" for="console">Console</label>
                <div class="form-check" id="console" th:each="c : ${console}">
                    <input class="form-check-input" th:field="*{consoleList}" th:id="|console_${c.id}|"
                           th:value="${c.id}" type="checkbox">
                    <label class="form-check-label" th:for="|console_${c.id}|" th:text="${c.console}"></label>
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label" for="price">Prezzo</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">€</span>
                    <span class="input-group-text">0.00</span>
                    <input class="form-control" id="price" required th:errorClass="is-invalid" th:field="*{price}"
                           type="text"
                    >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                        <ul>

                            <li th:each="err : ${#fields.errors('price')}" th:text="${err}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-primary" type="submit">SALVA</button>
            </div>
            <div class="col-12 text-center pb-5">
                <a class="btn btn-primary mb-3" th:href="@{/storage}">CANCELLA</a>
            </div>


        </form>
    </div>
</main>

<nav th:replace="fragments/footer"></nav>

</body>
</html>