<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('homepage')">
</head>
<body>

<main>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container my-5 mt-lg-5 text-center">
        <h1 class="text-center my-3">TUTTI I GIOCHI</h1>

        <div class="carousel slide p-5" id="carouselExample">
            <div class="carousel-inner">
                <div class="carousel-item" th:classappend="${status.index == 0} ? 'active' : ''"
                     th:each="g, status : ${game}">
                    <img alt="game-img" class="img-fluid border border-secondary" th:src="${g.photo}">
                    <p></p>
                    <a class="btn btn-primary" th:href="@{/show/{id}(id=${g.id})}">
                        Dettagli
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev opacity-100 bg-dark" data-bs-slide="prev"
                    data-bs-target="#carouselExample"
                    type="button">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next opacity-100 bg-dark " data-bs-slide="next"
                    data-bs-target="#carouselExample"
                    type="button">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>

        <th:block th:each="entry : ${consoleMap}"
                  th:with="tagId = |carouselPlay${entry.key.id}|"

        >

            <h1 th:text="${entry.key.console}" class="text-center mt-5"></h1>
            <div class="row">
                <div class="col-4">
                    <img th:src="|${entry.key.image}-left.jpeg|">
                </div>

                <div class="col-4 p-5">
                    <div class="carousel slide" th:id="${tagId}">
                        <div class="carousel-inner"
                        >

                            <div class="carousel-item"
                                 th:each=" game,status : ${entry.value}"
                                 th:classappend="${status.index == 0} ? 'active' : ''"

                            >
                                <div>
                                    <img alt="game-img" class="img-fluid border border-secondary"
                                         th:src="${game.photo}">
                                    <p></p>
                                    <a class="btn btn-primary" th:href="@{/show/{id}(id=${game.id})}">
                                        Dettagli
                                    </a>
                                </div>

                            </div>


                        </div>
                        <button th:attr="data-bs-target=|#${tagId}|" class="carousel-control-prev opacity-100"
                                data-bs-slide="prev"
                                type="button">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button th:attr="data-bs-target=|#${tagId}|" class="carousel-control-next opacity-100"
                                data-bs-slide="next"
                                type="button">
                            <span class="carousel-control-next-icon"></span>
                        </button>

                    </div>
                </div>

                <div class="col-4">
                    <img th:src="|${entry.key.image}-right.jpeg|">
                </div>
            </div>
        </th:block>

        <h1 class="text-center my-3">I PIU' VENDUTI</h1>
        <div class="carousel slide p-5" id="carouselMax">
            <div class="carousel-inner">
                <div class="carousel-item" th:classappend="${status.index == 0} ? 'active' : ''"
                     th:each="p,status : ${popular}"
                >

                    <img alt="game-img" class="img-fluid border border-secondary" th:src="${p.photo}">
                    <p></p>
                    <a class="btn btn-primary" th:href="@{/show/{id}(id=${p.id})}">
                        Dettagli
                    </a>

                </div>
            </div>
            <button class="carousel-control-prev opacity-100 bg-dark" data-bs-slide="prev"
                    data-bs-target="#carouselMax"
                    type="button">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next opacity-100 bg-dark " data-bs-slide="next"
                    data-bs-target="#carouselMax"
                    type="button">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>


    </div>

</main>

<footer th:replace="fragments/footer"></footer>

</body>
</html>