<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('homepage')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container mt-4 mt-lg-5 text-center">
    <h1 class="text-center my-3">TUTTI I GIOCHI</h1>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div th:each="g : ${game}" class="carousel-item active">
                <img alt="game-img" class="img-fluid border border-secondary" th:src="${g.photo}">
                <h5 class="card-title" th:text="${g.title}"></h5>
                <button type="submit" class="btn btn-primary" th:href="@{/show/{id}(id=${g.id})}">Dettagli</button>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!---aggiungere th:if per dividere la lista giochi in base alla console-->
    <h1 class="text-center my-3">PLAYSTATION</h1>
    <h1 class="text-center my-3">NINTENDO SWITCH</h1>
    <h1 class="text-center my-3">XBOX</h1>
</div>

</body>
</html>