<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Acquisto')">
    <link rel="stylesheet" th:href="@{styles.css}"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container my-3">
    <h1 class="mb-3">Completa l'acquisto!</h1>
    <form
            id="purchase-form"
            th:action="@{/purchase/create/{id}(id=${game.id})}"
            method="post"
            th:object="${purchase}"
    >
        <input type="hidden" th:field="*{videogame}">
        <input type="hidden" th:field="*{dateTime}">
        <div class="form-group col-4">
            <label for="selectedUser">Seleziona un utente per l'acquisto:</label>
            <select class="form-control" id="selectedUser" name="selectedUser">
                <option selected>- Nessuno</option>
                <option th:each="user : ${users}" th:value="${user.id}"
                        th:text="|${user.name} ${user.lastName}|"></option>
            </select>
        </div>

        <div class="form-group col-2 mt-2">
            <label for="quantity">Quantità:</label>
            <input type="number" class="form-control " id="quantity" name="quantity" th:field="*{quantity}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('quantity')}">
                <ul>
                    <li th:each="err : ${#fields.errors('quantity')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <button type="submit" class="btn btn-primary my-2">Acquista
        </button>
    </form>

</div>

</body>
</html>