<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Acquisto')">
    <link rel="stylesheet" th:href="@{styles.css}"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <form
            id="purchase-form"
            th:action="@{/purchase/create}"
            th:object="${purchase}"
            method="post"
    >
        <div class="row g-3">
            <div class="col-md-4">
                <label for="inputFirstName" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputFirstName" name="name">
            </div>
            <div class="col-md-4">
                <label for="inputLastName" class="form-label">Cognome</label>
                <input type="text" class="form-control" id="inputLastName" name="lastName">
            </div>
            <div class="col-md-4">
                <label for="inputDateOfBirth" class="form-label">Data Di Nascita</label>
                <input type="date" class="form-control" id="inputDateOfBirth" name="birthday">
            </div>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">Indirizzo </label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Via..." name="address">
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">Città</label>
                <input type="text" class="form-control" id="inputCity">
            </div>

        </div>
        <div class="col-2">
            <label for="inputQuantity" class="form-label">Quantità</label>
            <input type="number" class="form-control" id="inputQuantity" name="quantity">
        </div>
        <div class="col-12 my-2">
            <button type="submit" class="btn btn-primary">Acquista
            </button>
        </div>

    </form>
</div>

</body>
</html>