<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Admin')"></head>

<body>
<nav th:replace="fragments/navbar"></nav>

<div class="container my-5 mt-lg-5 bg-light">
    <div class="container mt-5">
        <h1 th:text="|Assortimento: ${restock.videogame.title}|"></h1>
        <form
                id="restock-form"
                method="post"
                th:action="@{/admin/add/{gameId}(gameId=${restock.videogame.id})}"
                th:object="${restock}"
        >
            <input th:field="*{videogame}" type="hidden"/>

            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label fw-bold" for="supplier">Fornitore</label>
                    <input class="form-control" id="supplier" name="supplier" required th:field="*{supplier}"
                           type="text">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('supplier')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('supplier')}" th:text="${err}">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-label fw-bold" for="price">Prezzo</label>
                    <input class="form-control" id="price" required step="0.01" th:field="*{price}" type="number">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('price')}" th:text="${err}">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-label fw-bold" for="quantity">Quantità</label>
                    <input class="form-control" id="quantity" name="quantity" th:field="*{quantity}" type="number">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('quantity')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('quantity')}" th:text="${err}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-2 text-center">
                <button class="btn btn-primary" type="submit">Acquista
                </button>
            </div>

        </form>

    </div>

    <div class="container mt-5">
        <table class="table">
            <thead>
            <h1>Cronologia assortimenti</h1>
            <tr>
                <th>Data</th>
                <th>Fornitore</th>
                <th>Prezzo</th>
                <th>Quantità</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${restock.videogame.restocks}">
                <td th:text="${r.date}"></td>
                <td th:text="${r.supplier}"></td>
                <td th:text="${r.price}"></td>
                <td th:text="${r.quantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<div class="container mb-5 pb-5">
</div>


<footer th:replace="fragments/footer"></footer>

</body>
</html>